body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Arial", sans-serif;
}

.container {
  text-align: center;
}

.hello-text,
.study-text {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
  position: relative;
  animation: moveUpDown 2s infinite alternate;
}

.world-text {
  color: #3498db;
}

.study-text {
  color: #555;
}

.moving-box {
  width: 50px;
  height: 50px;
  background-color: #3498db;
  margin-top: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes explode {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.hello-text:hover,
.study-text:hover {
  animation: explode 0.5s ease-in-out;
}
